torchvision
accelerate
opencv-python
libcairo2-dev 
pkg-config 
python3-dev
flask 
flask-cors 
pyngrok 
pandas 
diffusers 
torch 
transformers 
pillow 
reportlab 
cairosvg 
psutil 
googletrans==3.1.0a0


